body {
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(0, 102, 43) 90%
  );
  font-family: "Russo One", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.inner-link {
  color: #2c5d63;
}
a:hover {
  text-decoration: overline;
  text-transform: uppercase;
  color: #f5972d;
}
h1 {
  text-align: center;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #ffd966;
  opacity: 0.8;
  padding: 0px;
}

footer strong {
  color: #f5972d;
}

.image-footer {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  padding: 0; /* Optionally remove padding */
  margin-top: -70px;
}

.image-footer:hover {
  filter: blur(4px);
}
.date {
  opacity: 0.7;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: linear-gradient(
    109.6deg,
    rgb(251, 250, 225) 11.2%,
    rgb(206, 240, 185) 47.5%,
    rgb(100, 163, 111) 100.2%
  );
  padding: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 3px solid #d6ae2f;
  border-radius: 10px;
  position: relative;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(214, 174, 47, 0.8);
}
.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
}

.time small {
  font-size: 26px;
  vertical-align: middle;
  line-height: 1.5;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -55px;
  top: -10px;
}
